<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
            <title>Graphic Melon</title>
            <meta name="description" content="Graphic Melon">
                <meta name="author" content="Harshil">
                    
                    <!-- Mobile Meta -->
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        
                        <!-- Favicon -->
                        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
                            
                            <!-- Web Fonts -->
                            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
                                <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
                                
                                <!-- Bootstrap core CSS -->
                                <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
                                
                                <!-- Font Awesome CSS -->
                                <link href="{{ STATIC_URL }}fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
                                
                                <!-- Plugins -->
                                <link href="{{ STATIC_URL }}css/animations.css" rel="stylesheet">
                                
                                <!-- Worthy core CSS file -->
                                <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
                                
                                <!-- Custom css -->
                                <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
                                </head>
                                
                                <body class="no-trans">
                                <!-- scrollToTop -->
                                <!-- ================ -->
                                <div class="scrollToTop"><i class="icon-up-open-big"></i></div>
                                
                                <!-- header start -->
                                <!-- ================ -->
                                <header class="header fixed clearfix navbar navbar-fixed-top">
                                <div class="container">
                                <div class="row">
                                <div class="col-md-4">
                                
                                <!-- header-left start -->
                                <!-- ================ -->
                                <div class="header-left clearfix">
                                
                                <!-- logo -->
                                <div class="logo smooth-scroll">
                                <a href="#banner"><img id="logo" src="{{ STATIC_URL }}images/logo.png" alt="Worthy"></a>
                                </div>
                                
                                <!-- name-and-slogan -->
                                <div class="site-name-and-slogan smooth-scroll">
                                <div class="site-name"><a href="#banner">GraphicMelon</a></div>
                                <div class="site-slogan">Fullfill Your Graphic Design Needs.</div>
                                </div>
                                
                                </div>
                                <!-- header-left end -->
                                
                                </div>
                                <div class="col-md-8">
                                
                                <!-- header-right start -->
                                <!-- ================ -->
                                <div class="header-right clearfix">
                                
                                <!-- main-navigation start -->
                                <!-- ================ -->
                                <div class="main-navigation animated">
                                
                                <!-- navbar start -->
                                <!-- ================ -->
                                <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                
                                <!-- Toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                                </div>
                                
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#banner">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                
                                <li><a href="#contact">Contact</a></li>
                                </ul>
                                </div>
                                
                                </div>
                                </nav>
                                <!-- navbar end -->
                                
                                </div>
                                <!-- main-navigation end -->
                                
                                </div>
                                <!-- header-right end -->
                                
                                </div>
                                </div>
                                </div>
                                </header>
                                <!-- header end -->
                                
                                <!-- banner start -->
                                <!-- ================ -->
                                

                                <div id="banner" class="banner">
                                <div class="banner-image" style="position: relative; z-index: 0; background: none;">
                                
                                <div class="backstretch" style="overlay-container:">
                                <img src="{{ STATIC_URL }}images/banner.jpg" style="center:"></div></div>
                               
                                <div class="banner-caption">
                                <div class="container">
                                <div class="row">
                                <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                                <h1 class="text-center">Home Of The<span> $50</span> Designs</h1>
                                <p class="lead text-center">Fast. Affordable. Design</p>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                <div>
                                
                                <!-- banner end -->
                                
                                
                                
                                
                                
                                
                                
                                <!-- section start -->
                                <!-- ================ -->
                                <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
                                <div class="container">
                                <div class="row">
                                <div class="col-md-12">
                                <h1 id="about" class="title text-center">About <span>GraphicMelon</span></h1>
                                <p class="lead text-center">First impressions mean everything, especially when it comes to your business. Grab the attention of clients with eye-catching graphic design for your personal marketing and branding.</p>
                                <div class="space"></div>
                                <div class="row">
                                <div class="col-md-6">
                                <img src="{{ STATIC_URL }}images/section-image-1.jpg" alt="">
                                <div class="space"></div>
                                </div>
                                <div class="col-md-6">
                                <p>With over 6 years of Graphic Design Experience, any design task is done with the highest attention to detail and quality. From logo designs to invitation cards, we offer an affordable approach to convey your message elegantly to your peers.</p>
                                
                                <ul class="list-unstyled">
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i> Fast Service</li>
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i> Pay After Design</li>
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i> Coporate and Personal Designs</li>
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i> Vast Portfolio</li>
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i> Short Notice Designs</li>
                                </ul>
                                </div>
                                </div>
                                <div class="space"></div>
                                <h2>Design is Important!</h2>
                                <div class="row">
                                <div class="col-md-6">
                                
                                </div>
                                <div class="col-md-6">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Logos
                                </a>
                                </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                A good logo design is worth 1,000 words. While you can put a price on creating your logo, it is impossible to measure the impact it will have on your brand’s visibility. Your logo is your badge, your coat of arms, your identity – it’s you! We want you to be YOU to the people that don’t know you – so they’ll get to know you and your business.
                                </div>
                                </div>
                                </div>
                                <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Flyers
                                </a>
                                </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                Flyers and pamphlets have been around for ages but there is still no better promotional material if you have a large amount of information you wish to share with the world. Flyers work great to handout to clients or post around town where anyone might spot it. These promotional flyer designs can be used for just about anything.
                                </div>
                                </div>
                                </div>
                                <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Business Cards
                                </a>
                                </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                Business card speaks for a brand and they are a good and effective tool to impress and maintain relationship with clients. However if your business card is plain and dull, it can only tell so much of your company’s image.
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                <!-- section end -->
                                
                                <!-- section start -->
                                <!-- ================ -->
                                <div class="section translucent-bg bg-image-1 blue">
                                <div class="container object-non-visible" data-animation-effect="fadeIn">
                                <h1 id="services"  class="text-center title">Services</h1>
                                <div class="space"></div>
                                <div class="row">
                                <div class="col-sm-6">
                                <div class="media">
                                <div class="media-body text-right">
                                <h4 class="media-heading">Logo Design</h4>
                                <p>Custom logo design from scratch or fitting an existing idea you may have.</p>
                                </div>
                                <div class="media-right">
                                <i class="fa fa-cog"></i>
                                </div>
                                </div>
                                <div class="media">
                                <div class="media-body text-right">
                                <h4 class="media-heading">Business Card Design</h4>
                                <p>Front and Back business card design, can use existing business logo or create one.</p>
                                </div>
                                <div class="media-right">
                                <i class="fa fa-check"></i>
                                </div>
                                </div>
                                <div class="media">
                                <div class="media-body text-right">
                                <h4 class="media-heading">Invitaton Card Design</h4>
                                <p>Create a custom invitation card with personal touches.</p>
                                </div>
                                <div class="media-right">
                                <i class="fa fa-desktop"></i>
                                </div>
                                </div>
                                <div class="media">
                                <div class="media-body text-right">
                                <h4 class="media-heading">T-Shirt Design</h4>
                                <p>Can put about anything on a T-shirt, business logo, or just any graphic.</p>
                                </div>
                                <div class="media-right">
                                <i class="fa fa-users"></i>
                                </div>
                                </div>
                                </div>
                                <div class="space visible-xs"></div>
                                <div class="col-sm-6">
                                <div class="media">
                                <div class="media-left">
                                <i class="fa fa-leaf"></i>
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading">Vehicle/Decal Design</h4>
                                <p>A great way to advertise your business while driving around town.</p>
                                </div>
                                </div>
                                <div class="media">
                                <div class="media-left">
                                <i class="fa fa-area-chart"></i>
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading">Flyer Design</h4>
                                <p>Effectively bring attention to your business with custom flyers.</p>
                                </div>
                                </div>
                                <div class="media">
                                <div class="media-left">
                                <i class="fa fa-child"></i>
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading">Poster Design</h4>
                                <p>Full size posters, great for restaurant menus or just about anything that wont fit on a regular peice of paper.</p>
                                </div>
                                </div>
                                <div class="media">
                                <div class="media-left">
                                <i class="fa fa-codepen"></i>
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading">Packaging Design</h4>
                                <p>Have a new product idea?, Packaging is the most effective way to advertise a brand.</p>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                <!-- section end -->
                                
                                <!-- section start -->
                                <!-- ================ -->
                                <div class="default-bg space blue">
                                <div class="container">
                                <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                <h1 class="text-center">Let's Work Together!</h1>
                                </div>
                                </div>
                                </div>
                                </div>
                                <!-- section end -->
                                
                                <!-- section start -->
                                <!-- ================ -->
                                <div class="section">
                                    <div class="container">
                                        <h1 class="text-center title" id="portfolio">Portfolio</h1>
                                        <div class="separator"></div>
                                        <p class="lead text-center">A Little Collection of My Previous Works, Throughout The Years.</p>
                                        <br>
                                        <div class="row object-non-visible" data-animation-effect="fadeIn">
                                            <div class="col-md-12">
                                                
                                                <!-- isotope filters start -->
                                                <div class="filters text-center">
                                                    <ul class="nav nav-pills">
                                                        <li class="active"><a href="#" data-filter="*">All</a></li>
                                                        <li><a href="#" data-filter=".web-design">Logos</a></li>
                                                        <li><a href="#" data-filter=".app-development">Business Cards</a></li>
                                                        <li><a href="#" data-filter=".site-building">Flyers/Misc</a></li>
                                                    </ul>
                                                </div>
                                                <!-- isotope filters end -->
                                                
                                                <!-- portfolio items start -->
                                                <div class="isotope-container row grid-space-20">
                                                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                        <div class="image-box">
                                                            <div class="overlay-container">
                                                                <img src="{{ STATIC_URL }}images/portfolio-1.jpg" alt="">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-2.jpg" alt="">
                                                                        
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-3.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-4.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-5.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-6.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item app-development">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-7.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-8.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-9.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-10.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-11.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-12.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-13.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-14.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-15.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-16.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-17.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-18.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item app-development">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-19.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-20.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item app-development">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-21.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-22.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-23.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-24.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-25.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-26.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-27.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-29.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-30.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/portfolio-31.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/correction 4.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/correction 5.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item app-development">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/BNB.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                                                            <div class="image-box">
                                                                <div class="overlay-container">
                                                                    <img src="{{ STATIC_URL }}images/Flyer 1.jpg" alt="">
                                                                        
                                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                        


                                                    
                                                </div>
                                                <!-- portfolio items end -->
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- section end -->
                                
                                
                                
                                <!-- section start -->
                                <!-- ================ -->
                                <div class="default-bg space">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <h1 class="text-center">Remember, Any Design $50!</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- section end -->
                                
                                <!-- footer start -->
                                <!-- ================ -->
                                <footer id="footer">
                                    
                                    <!-- .footer start -->
                                    <!-- ================ -->
                                    <div class="footer section">
                                        <div class="container">
                                            <h1 class="title text-center" id="contact">Contact Me</h1>
                                            <div class="space"></div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="footer-content">
                                                        <p class="large">You can Call/Text or Email me anytime. </p>
                                                        <ul class="list-icons">
                                                            <li><i class="fa fa-map-marker pr-10"></i> East Mesa, Arizona</li>
                                                            <li><i class="fa fa-phone pr-10"></i>480-535-0883</li>
                                                
                                                            <li><i class="fa fa-envelope-o pr-10"></i> graphicmelon@yahoo.com</li>
                                                        </ul>
                                                                                                            </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .footer end -->
                                    
                                    <!-- .subfooter start -->
                                    <!-- ================ -->
                                    <div class="subfooter">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-center">GraphicMelon 2014</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .subfooter end -->
                                    
                                </footer>
                                <!-- footer end -->
                                
                                <!-- JavaScript files placed at the end of the document so the pages load faster
                                 ================================================== -->
                                <!-- Jquery and Bootstap core js files -->
                                <script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.min.js"></script>
                                <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
                                
                                <!-- Modernizr javascript -->
                                <script type="text/javascript" src="{{ STATIC_URL }}plugins/modernizr.js"></script>
                                
                                <!-- Isotope javascript -->
                                <script type="text/javascript" src="{{ STATIC_URL }}plugins/isotope/isotope.pkgd.min.js"></script>
                                
                                <!-- Backstretch javascript -->
                                <script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.backstretch.min.js"></script>
                                
                                <!-- Appear javascript -->
                                <script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.appear.js"></script>
                                
                                <!-- Initialization of Plugins -->
                                <script type="text/javascript" src="{{ STATIC_URL }}js/template.js"></script>
                                
                                <!-- Custom Scripts -->
                                <script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
                                
                                </body>
</html>